# Prerequisites
*.d
darwin.c
lua_c_amalgamator_darwin_import.c
doTheWorld.h
LuaDoTheWorld
CTextEngine.h
candangoEngine
lua_c_amalgamator_dependencie_not_included.c
Darwin
teste.lua
debug.lua
OuiPacker.c
 darwin.c
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
